<div id="slider-pic">
	<div class="slider_box" id="slider_name">
		<ul class="silder_con">
			<li class="silder_panel">
				<a><img src="./assets/img/sliderA.jpg" width="612" /></a>
			</li>
			<li class="silder_panel">
				<a><img src="./assets/img/sliderB.jpg"/></a>
			</li>
			<li class="silder_panel">
				<a><img src="./assets/img/sliderC.jpg"/></a>
			</li>
		</ul>
	</div>
	<div id="slider-index">
		<ul class="silder_nav dec">
			<li>
				<a><img src="./assets/img/slider-a.jpg" width="113" height="42" /></a>
			</li>
			<li>
				<a><img src="./assets/img/slider-b.jpg" width="113" height="42"/></a>
			</li>
			<li>
				<a><img src="./assets/img/slider-c.jpg" width="113" height="42"/></a>
			</li>
		</ul>
	</div>
</div>
