<div id="foot">
	<div class="foot-container">
		<div class="foot-wrap">
			<i class="foot-icon"></i>
			<div class="foot-list">
				<a class="foot-app">
					拉勾APP<span class="new-flag">NEW</span>
				</a>
				<a class="foot-qr">
					拉勾微博
				</a>
				<a>拉勾微信</a>
				<a>版本更新</a>
				<a>帮助中心</a>
				<a>联系我们</a>
				<a>招聘解决方案</a>
				<a class="foot-tell">
					服务热线:
					<em>4006-2828-35 (9:00 -18:00)</em>
				</a>
			</div>
			<div class="copy-right logo">
				<a>
					<img class="safe-img" src="./assets/img/safe.png" alt="安全联盟">
				</a>
				<span>
					<em>©</em>
					2017 Lagou 
				</span>
				<a>京ICP备14023790号-2</a>
				<span>京公网安备11010802017116号</span>
			</div>
		</div>
	</div>
</div>